<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.king.practices">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_real_name"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- arms框架配置 -->
        <meta-data
            android:name="com.king.practices.app.GlobalConfiguration"
            android:value="ConfigModule" />
        <!-- <meta-data -->
        <!-- android:name="design_width" -->
        <!-- android:value="800" /> -->
        <!-- <meta-data -->
        <!-- android:name="design_height" -->
        <!-- android:value="1280" /> -->

        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:label="@string/app_real_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:label="@string/label_main" />
        <activity android:name=".mvp.ui.activity.GankDetailActivity"/>
    </application>

</manifest>